
* { margin: 0; padding: 0; box-sizing: border-box; }


body {
    font-family: "Oswald";
    background: linear-gradient(135deg,#113d57 50%, #2a6330 50%);
    color: white;
    padding: 18px;
    min-height: 100vh;
}


.topnav {
    background: #0d2d4d;          
    padding: 14px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav .brand,
.topnav a.active {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background: #3c8df2;          
    padding: 10px 16px;
    border-radius: 10px;
    color: white;
}


.nav-links a {
    background: #0d2d4d;
    padding: 10px 16px;
    margin-right: 12px;
    border-radius: 8px;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
}


.nav-links a:hover {
    background: #16395d;  
    color: #fff;
}


.icon {
    display: none;
    font-size: 22px;
    cursor: pointer;
    background: #8eff8a;          
    padding: 10px 14px;
    border-radius: 10px;
    color: black;
}


.dropdown-menu {
    display: none;
    background: #0d2d4d;         
    padding: 10px 0;
    border-radius: 12px;
    margin-top: 10px;
}

.dropdown-menu a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.dropdown-menu a:hover {
    background: #16395d;          
}


@media (max-width: 1000px) {

    .nav-links {
        display: none;
    }

    .icon {
        display: block;
    }
}


@media (min-width: 1001px) {
    .icon {
        display: none;
    }
}


.main-wrap {
    max-width: 1000px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 12px;
    font-weight: bold;
    color: white;
}

.input-box {
    border: 3px solid white;
    border-radius: 10px;
    padding: 12px;
    background: rgba(0,0,0,0.25);
}

textarea#quoteInput {
    width: 100%;
    min-height: 120px;
    padding: 10px;
    font-size: 22px;
    background: rgba(0,0,0,0.35);
    border-radius: 8px;
    border: 3px solid rgba(255,255,255,0.8);
    color: #b8fcb8;
}

.button-row {
    margin-top: 10px;
    display: flex;
}

.btn {
    flex: 1;
    padding: 12px;
    font-size: 20px;
    border-radius: 10px;
    background: slateblue;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: darkslategray;
}

.quotes-wrapper {
    margin-top: 15px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}


.quote-card {
    border: 3px solid white;
    border-radius: 10px;
    background: rgba(0,0,0,0.25);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.quote-text {
    border: 2px solid rgba(255,255,255,0.2);
    padding: 12px;
    background: rgba(0,0,0,0.35);
    border-radius: 8px;
    color: #b8fcb8;
    font-size: 22px;
    line-height: 1.4;

    white-space: nowrap;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: thin;
}

.delete-btn {
    border-radius: 8px;
    border: 3px solid white;
    background: #2f6fb6;
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: fit-content;
    align-self: center;
}

.delete-btn:hover {
    background: #1f5aa0;
}

.footer {
    margin-top: 30px;
    text-align: center;
    padding: 18px;
    font-size: 20px;
    font-weight: bold;
    color: white;

    background: #0d2d4d;
    border-radius: 12px;
    border: 3px solid white;
}
