.topnav a:not(:first-child) {
        display: none;
}

.topnav a.icon {
        float: right;
        display: block;
}

.topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
}

.topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
}

#title {
        flex-grow: 1;
}
#save {
        flex-grow: 1;
        /* min-width: 120px; */
}

footer {
        font-size: 20px;
}

#h1id_2 {
        font-size: 50px;
}